@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
/*
ROBOTO --
thin 100
thin 100 italic
regular 400
regular 400 italic
bold 700

PLAYFAIR DISPLAY --
regular 400
regular 400 italic
medium 500
medium 500 italic
semibold 600
semibold 600 italic
bold 700
bold 700 italic
*/

#home {
    background-color: #a8b8bf;
    text-align: center;
    width:100%;
    min-width:1000px;
    height:auto;
    font-family: "Playfair Display", sans-serif;
    color: white;
    font-weight: 600;
    /* Trebuchet MS */
}

header {
    display: flex;
    justify-content: space-between;
}

#intro {
    padding-top: 10%;
    margin: auto;
    font-size: 100px;
    display: none;
}

#homedesc {
    margin: auto;
    font-size: 20px;
}

#about {
    background-color: #bfcace;
    width:100%;
    min-width:1000px;
    height:auto;
    font-family: "Georgia";
    /* Trebuchet MS */
    color: white;
    
}

#about table {
    display: none;
}

#about td{
    border: 1px solid ;
    text-align: center;
    padding: 15px 15px 15px 15px;
    width: 25%;
}

#about tr:hover {
    background-color: #afbdc2;
}

#about p, li{
    text-align: left;
}

#projects {
    background-color: rgb(182, 194, 185);;
    text-align: center;
    width:100%;
    min-width:1000px;
    height:auto;
    font-family: "Georgia";
    /* Trebuchet MS */
    
}

#projects td{
    border: 1px white solid ;
    text-align: center;
    padding: 15px 15px 15px 15px;
    width: 25%;
    color: white
}

#projects tr:hover {
    background-color: rgb(73, 99, 102);
}

#contact {
    background-color: white;
    text-align: center;
    width:100%;
    min-width:1000px;
    height:auto;
    font-family: "Georgia";
    /* Trebuchet MS */
    
}

#hangman {
    background-color: white;
    text-align: center;
    width:100%;
    min-width:1000px;
    height:auto;
    font-family: "Georgia";
    /* Trebuchet MS */
    
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

nav ul {
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
    position: sticky;
    float: right;
}

nav li {
    display: inline;
}

nav li a {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px 15px 20px; /*top left down right*/

}

nav li a:hover{
    color: rgb(116, 10, 10);
    text-decoration: underline;
    text-decoration-color: rgb(151, 42, 42);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

button {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid;
    padding: 12px 18px;
    color: white;
    background-color: #8daeb9;
    border-radius: 50px;
}

button:hover {
    border: 1px solid rgb(146, 31, 31);
    color: rgb(162, 25, 25);
    background-color: white;
}

.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

.fill {
    color: blue;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.indent {
    text-indent: 10%;
}